[Unit]
Description=Heki Service - %i
After=network.target nss-lookup.target

[Service]
User=root
ExecStart=/usr/local/heki/heki -c /etc/heki/%i/heki.conf
Restart=on-failure
RestartSec=10s
LimitNOFILE=1048576
LimitNPROC=512

[Install]
WantedBy=multi-user.target
